<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сборник анекдотов{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <div class="page-container">
        <header>
            <div class="header-container">
                <div class="logo">
                    <h1><a href{text-decoration: none}="/">Сборник анекдотов</a></h1>
                </div>
            </div>
        </header>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'theme_list' %}">Темы</a></li>
            <li><a href="{% url 'favorite_list' %}">Избранное</a></li>
            <li><a href="{% url 'user_jokes_list' %}">Все анекдоты</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>